.logo {
    margin-top: 10%;
    width: 50%;
}

.proxima {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 20%;
	background-color:#E2725B;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#F2EFE9;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}

h1 {
    margin: 2%;
    font-size:32px;
    color: #E2725B;
}

hr {
    border-style:solid;
    margin: auto;
    width: 100%;
    max-width: 50%;
    border-width:1px;
    overflow: hidden;
    border-color: #1C3144;
}



