<div class="container">
    <div class="column">
        <div class="row">
            <img src="../../assets/person-blue.svg" alt="person" class="person">
        </div>
        <div class="row">
            <h1>Editar Conta</h1>
        </div>

        <div class="row">
            <form class="form">
                <label>Nome</label>
                <input #namebox type="text" class="form-control" value="{{userName}}">
                <div class="alert" *ngIf="(namebox.value == '')">Seu nome é nescessário</div>
                <label>E-mail</label>
                <input #emailbox type="text" class="form-control" value="{{userEmail}}">
                <div class="alert" *ngIf="!emailIsValid">Este E-mail não é válido</div>
                <label>Confirme a senha para editar</label>
                <input #passwordbox type="password" class="form-control">
            </form>
        </div>

        <div class="row">
            <a (click)="onSubmit(namebox.value, emailbox.value, passwordbox.value)"
                class="confirm-button">Confirmar</a>
        </div>

    </div>
</div>
