<div class="aux-container">
	<div class="book-container">
		<div class="book-details">
			<h1>Book Title</h1>
			<div class="line"></div>
			<div class="book-description">
				<p> Book description</p>			
			</div>
		</div>
		
		<div class="book-recipes">
			<h1>Recipes</h1>
			<div class="line"></div>
			<div class="recipes">
				<div class="recipe-card card">
					<a href="/" target="_blank">
						<div class="card-image" [ngStyle]="{'background-image': 'url(' + 'https://i.imgur.com/6Zp3hkD.png' + ')'}"></div>
					</a>
					<a href="" target="_blank">
						<div class="card-info">
							<h2>Recipe Title</h2>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>