<div>
    <h1 class="title">Torta Holandesa</h1>
    <div class="row form-group">
        <form class="tp-container">  
            <input type="hidden"/>
            <div class="column left">   
                <p>       
                    <label><i class="fa fa-shopping-basket"></i> Ingredientes </label>
                </p>
            <br>
            
            <div class="column right">
                <p>
                    <label class="info"><i class="fa fa-clock-o"></i> Tempo de Preparo: 45 minutos</label>
                </p>
                <br>
                
                <p>
                    <label class="info"><i class="fa fa-chart-pie"></i> Rendimento: 4 porções </label>
                </p>
                <!--<textarea></textarea>-->
                <p></p>
                <br>
                
                <p>
                    <label class="info"><i class="fa fa-flag"></i> Categoria: Sobremesa </label>
                </p>
                <!--<textarea></textarea>-->
                <p></p>
                <br>

                <img src="https://t2.rg.ltmcdn.com/pt/images/7/6/2/img_torta_holandesa_267_300_square.jpg"/>
                <button class="btn" aria-label="back" type="button">
                    Voltar
                </button>
            </div>
        </form>
    </div>
</div>