<div>
    <h1 class="title">Receita de Torta Holandesa</h1>
    <div class="row form-group">
        <form class="tp-container">  
            <input type="hidden"/>
            <div class="column left">   
                <p>       
                    <label><i class="fa fa-shopping-basket"></i> Ingredientes </label>
                </p>
                <p>Para a base:</p>
                <p>200 gramas de biscoito maisena</p>
                <p>100 gramas de manteiga amolecida</p>
                <br>
                <p>Para o recheio:</p>
                <p>1 lata de leite condensado</p>
                <p>250 gramas de creme de leite fresco e sem soro</p>
                <p>1 xícara de leite (240 mililitros)</p>
                <p>1 colher de sopa de gelatina em pó sem sabor</p>
                <p>2 colheres de sopa de água</p>
                <p>3 colheres de chá de essência de baunilha</p>
                <br>
                <p>Para cobertura e decoração:</p>
                <p>200 gramas de chocolate meio amargo</p>
                <p>1 lata de creme de leite (sem soro)</p>
                <p>1 pacote de biscoito calipso</p>
                <br>

                <p>
                    <label><i class="fa fa-utensils"></i> Modo de Preparo </label> 
                </p>
                <p>1. Comece preparando sua torta holandesa pela base. Para isso pique muito bem as bolachas no liquidificador ou processador e misture-as com a manteiga, amassando até obter uma farofa.</p>
                <p>2. No fundo de uma forma de aro removível com cerca de 22 cm de diâmetro, forrada com papel manteiga, espalhe com as mãos a mistura anterior. Nas laterais disponha apertadinhos os biscoitos calipso com a parte do chocolate virado para fora. Reserve na geladeira para firmar.</p>
                <p>3. Prepare agora o recheio cremoso da torta holandesa: coloque em uma panela o leite condensado e o leite e leve ao fogo médio, mexendo continuamente até engrossar. Retire do fogo e adicione a gelatina dissolvida na água. Reserve para esfriar.</p>
                <p>4. Com a ajuda da batedeira, bata o creme de leite até obter uma consistência de chantilly. Adicione ao creme anterior, já esfriado ou ligeiramente morno, junto com a essência de baunilha e envolva bem. Reserve.</p>
                <p>5. Prepare agora a última camada da torta holandesa: a cobertura de chocolate. Leve o creme de leite ao em fogo médio e fique mexendo até esquentar, sem deixar ferver. Quando estiver quente, adicione o chocolate picado.</p>
                <p>6. Continue mexendo para derreter o chocolate por completo e envolver com o creme de leite, novamente sem deixar ferver. Quando tiver obtido um creme homogêneo, desligue o fogo e deixe esfriar.</p>
                <p>7. Comece agora montando a torta holandesa: retire a base da geladeira e, sem desenformar, coloque no interior o creme branco que preparou anteriormente.</p>
                <p>8. Sobre o creme branco adicione cuidadosamente o creme de chocolate, morno ou já esfriado. Leve a sobremesa novamente à geladeira, no mínimo por 1 hora (o ideal é ficar 6 horas, assim terá a certa que firma adequadamente).</p>
                <p>9. Passado esse tempo, retire a torta holandesa da geladeira, desenforme e retire também o papel manteiga. Sirva de seguida e desfrute finalmente dessa sobremesa deliciosa!</p>
            </div>
            <br>
            
            <div class="column right">
                <p>
                    <label class="info"><i class="fa fa-clock-o"></i> Tempo de Preparo: 2 horas e 30 minutos</label>
                </p>
                <br>
                
                <p>
                    <label class="info"><i class="fa fa-chart-pie"></i> Rendimento: 8 porções </label>
                </p>
                <!--<textarea></textarea>-->
                <p></p>
                <br>
                
                <p>
                    <label class="info"><i class="fa fa-flag"></i> Categoria: Sobremesa </label>
                </p>
                <!--<textarea></textarea>-->
                <p></p>
                <br>

                <img src="https://t2.rg.ltmcdn.com/pt/images/7/6/2/img_torta_holandesa_267_300_square.jpg"/>
                <a href="/receitas"><button class="btn" aria-label="back" type="button">
                    Voltar
                </button></a> 
            </div>
        </form>
    </div>
</div>