<div>
    <h1 class="title">Receita de Coxinha</h1>
    <div class="row form-group">
        <form class="tp-container">  
            <input type="hidden"/>
            <div class="column left">   
                <p>       
                    <label><i class="fa fa-shopping-basket"></i> Ingredientes </label>
                </p>
                <p>4 xícaras de trigo</p>
                <p>4 xícaras de leite</p>
                <p>1 caldo de galinha</p>
                <p>1/2 colher de margarina</p>
                <br>

                <p>
                    <label><i class="fa fa-utensils"></i> Modo de Preparo </label> 
                </p>
                <p>1. Leve ao fogo o leite, a margarina e o caldo.</p>
                <p>2. Deixe ferver.</p>
                <p>3. Despeje de uma só vez o trigo e mexa bem. </p>
                <p>4. Depois retire da panela e coloque sobre a mesa.</p>
                <p>5. Sove um pouco e comece a modelar as coxinhas.</p>
                <p>6. Coloque para fritar em óleo quente, espere dourar, retire e sirva.</p>
            </div>
            <br>
            
            <div class="column right">
                <p>
                    <label class="info"><i class="fa fa-clock-o"></i> Tempo de Preparo: 40 minutos</label>
                </p>
                <br>
                
                <p>
                    <label class="info"><i class="fa fa-chart-pie"></i> Rendimento: 10 porções </label>
                </p>
                <!--<textarea></textarea>-->
                <p></p>
                <br>
                
                <p>
                    <label class="info"><i class="fa fa-flag"></i> Categoria: Salgado </label>
                </p>
                <!--<textarea></textarea>-->
                <p></p>
                <br>

                <img src="https://t2.rg.ltmcdn.com/pt/images/2/5/6/torta_de_morango_com_chantilly_9652_300_square.jpg"/>
                <a href="/receitass"><button class="btn" aria-label="back" type="button">
                    Voltar
                </button></a> 
            </div>
        </form>
    </div>
</div>