<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <h1>Cadastrar Receita</h1>
    <form class="tp-container">  
        <div>
            <mat-icon class="inputIcon"> border_color </mat-icon>
            <label> Nome da Receita </label> <br>
            <input
                placeholder="Ex.: Bolo de Banana"
                aria-label="Nome da Receita"
                appearance = "outline"
            >
        </div>
        
        <br>
    
        <div class="teste">
            <mat-icon class="inputIcon"> shopping_cart </mat-icon>
            <label> Ingredientes </label> <br>
            <input
                placeholder="Ex.: Ingrediente 1"
                aria-label="Ingrediente 1"
                appearance = "outline"
            >
            <input
                placeholder="Ex.: Ingrediente 2"
                aria-label="Ingrediente 2"
                appearance = "outline"
            >
            <input
                placeholder="Ex.: Ingrediente 3"
                aria-label="Ingrediente 3"
                appearance = "outline"
            >
        </div>
        <button class="btn"><i class="fa fa-plus"></i></button>
    
        <br>
    
        <div>
            <mat-icon class="inputIcon"> local_dining </mat-icon>
            <label> Modo de Preparo </label> <br>
            <mat-form-field appearance = "outline">
                <textarea                
                    matInput 
                    placeholder="Preparo"
                    aria-label="Modo de Preparo"
                    rows="3"
                ></textarea>
            </mat-form-field>
        </div>
    </form>
</body>