body{
    background-color: #F2EFE9;
}

.tp-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 70%;
}

label {
    font-size: 20px;
    line-height: 30px;
}

h1 {
    text-align: center;
    font-family: 'Roboto';
    padding-top: 50px;
    padding-bottom: 50px;
    color: #E2725B;
    font-size: 30px;
}

.btn {
    background-color: #E2725B; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 5px;
}

.center {
    margin: auto;
}

.save {
    padding-bottom: 50px;
}

.btn:hover {
    transform: scale(1.05);
}


input {
    width: flex;
}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 70%;
}

.right {
    width: 30%;
}

.one {
    width: 10%;
    padding-left: 0px;
}

.two {
    width: 20%;
}

.three {
    width: 70%;
    padding-right: 0px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

textarea {
    font-family: 'Arial';
    color: #1C3144;
    outline: none;
    width: 100%;
    height: 55px;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #1C3144;
    border-radius: 8px;
    background-color:#F2EFE9;
}