<body>
    <h1>Cadastrar Receita</h1>
    <div class="row">
        <form class="tp-container">  
            <div class="column left">
                <label><i class="fa fa-pencil"></i> Nome da Receita </label>
                <input 
                    placeholder="Ex.: Bolo de Banana"
                    [(ngModel)]= "nomeReceita"
                    aria-label="Nome da Receita"
                    appearance = "outline"
                >
                <br>

                <label><i class="fa fa-shopping-basket"></i> Ingredientes </label>
                <div class="row" *ngFor="let obj of dataArray">
                    <input
                        appearance = "outline"
                        type="number"
                        name="qty"
                        [(ngModel)]= "quantidade"
                        class="column one"
                    >

                    <input
                        appearance = "outline"
                        name="type"
                        [(ngModel)]= "unidade"
                        class="column two"
                    >

                    <input
                        placeholder="Ex.: Ingrediente 1"
                        aria-label="Ingrediente 1"
                        appearance = "outline"
                        name="name"
                        [(ngModel)]= "ingrediente"
                        class="column three"
                    >
                </div>
                
                <span>
                    <button class="btn" aria-label="Adicionar mais ingredientes" (click)="addForm()" type="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Adicionar mais ingredientes
                    </button>
                </span>
                <br>
            
                <label><i class="fa fa-utensils"></i> Modo de Preparo </label>
                <textarea                
                    matInput 
                    placeholder="Preparo"
                    [(ngModel)]= "tempo"
                    aria-label="Modo de Preparo"
                    rows="7"    
                ></textarea>
            </div>
            <br>
            
            <div class="column right">
                <button class="btn" aria-label="Adicionar foto">
                    <i class="fa fa-image"></i>
                    Adicionar foto
                </button>
                <br>

                <label><i class="fa fa-clock-o"></i> Tempo de Preparo </label>
                <input                
                    placeholder="Tempo Preparo"
                    [(ngModel)]= "preparo"
                    aria-label="Tempo de Preparo"
                    appearance = "outline"
                >
                <br>

                <label><i class="fa fa-chart-pie"></i> Rendimento </label>
                <input                
                    placeholder="Rendimento"
                    [(ngModel)]= "rendimento"
                    aria-label="Rendimento"
                    appearance = "outline"
                >
                <br>

                <label><i class="fa fa-flag"></i> Categoria </label>
                <input                
                    placeholder="Categoria"
                    [(ngModel)]= "categoria"
                    aria-label="Categoria"
                    appearance = "outline"
                >
            </div>
        </form>
    </div>

    <div class="row save">
        <button class="btn center" (click)= "save()"> Salvar </button>
    </div>

    <!--TESTE SALVAR 
    <section>
        <mat-list>
            <mat-list-item *ngFor= "let receita of receitas">
                <p mat-line>
                    <app-teste-salvar-receitas
                        [nomeReceita]= "receita.nomeReceita"
                        [quantidade]= "receita.quantidade"
                        [unidade]= "receita.unidade"
                        [ingrediente]= "receita.ingrediente"
                        [preparo]= "receita.preparo"
                        [tempo]= "receita.tempo"
                        [rendimento]= "receita.rendimento"
                        [categoria]= "receita.categoria"
                    >
                    </app-teste-salvar-receitas>
                </p>
            </mat-list-item>
        </mat-list>
    </section>-->
</body>