<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <h1>Cadastrar Receita</h1>
    <div class="row">
        <form class="tp-container">  
            <div class="column left">
                <mat-icon class="inputIcon"> border_color </mat-icon>
                <mat-label> Nome da Receita </mat-label> <br>
                <input
                    placeholder="Ex.: Bolo de Banana"
                    aria-label="Nome da Receita"
                    appearance = "outline"
                >
            
                <br>
        
                <mat-icon class="inputIcon"> shopping_cart </mat-icon>
                <label> Ingredientes </label> <br>
                <input
                    placeholder="Ex.: Ingrediente 1"
                    aria-label="Ingrediente 1"
                    appearance = "outline"
                >
                <input
                    placeholder="Ex.: Ingrediente 2"
                    aria-label="Ingrediente 2"
                    appearance = "outline"
                >
                <input
                    placeholder="Ex.: Ingrediente 3"
                    aria-label="Ingrediente 3"
                    appearance = "outline"
                >
                <span>
                    <button class="btn" aria-label="Example icon button with a bookmark icon">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Adicionar mais ingredientes
                    </button>
                </span>
        
                <br>
            
                <mat-icon class="inputIcon"> local_dining </mat-icon>
                <label> Modo de Preparo </label> <br>
                <mat-form-field appearance = "outline">
                    <textarea                
                        matInput 
                        placeholder="Preparo"
                        aria-label="Modo de Preparo"
                        rows="5"
                    ></textarea>
                </mat-form-field>
            </div>

            <br>
            
            <div class="column right">

                    <button class="btn" aria-label="Adicionar foto">
                        <i class="fa fa-image"></i>
                        Adicionar foto
                    </button>



                <br>

                <mat-icon class="inputIcon"> more_time </mat-icon>
                <label> Tempo de Preparo </label> <br>
                <input                
                    placeholder="Tempo Preparo"
                    aria-label="Tempo de Preparo"
                    appearance = "outline"
                >

                <br>

                <mat-icon class="inputIcon"> room_service </mat-icon>
                <label> Rendimento </label> <br>
                <input                
                    placeholder="Rendimento"
                    aria-label="Rendimento"
                    appearance = "outline"
                >

                <br>

                <mat-icon class="inputIcon"> flag </mat-icon>
                <label> Categoria </label> <br>
                <input                
                    placeholder="Categoria"
                    aria-label="Categoria"
                    appearance = "outline"
                >
            </div>
        </form>
    </div>

    <div class="row save">
        <button class="btn center"> Salvar </button>
    </div>

        
</body>