<html>
    <div class='container'>   
        <div class='column'>
            <div class='row'>
                <img src="../../assets/logo.png" alt="logo" class='logo'>
            </div>
            <div class='row'>
                <h1>Escolha sua senha</h1>
            </div>
            <div class='row'>
                <form class='form' >
                    <input type="text" id="fname" name="fname">
                    <input type="text" id="fname" name="fname">
                    <label>Senha</label>
                    <input type="password" formControlName="password" class="form-control" >
                    <label>Confirmar senha</label>
                    <input class='input' type="password" id="lname" name="lname">
                  </form>
            </div>
            <div class="row">
                <a href="/senha" class="proxima">Criar</a>
            </div>
            <div class="row">
                <a class="link" href="/login">Já tenho uma conta</a>
            </div>
        </div>
    </div>
</html>