<html>
    <div class='container'>   
        <div class='column'>
            <div class='row'>
                <img src="../../assets/lolzeira.png" alt="logo" class='logo'>
            </div>
            <div class='row' style='align-items: center; margin-top: 15px;'>
                <img src="../../assets/btn_google_signin_light_normal_web@2x.png" alt="logo" class='social-button'>
                <img src="../../assets/17639236_1785253958471956_282550797298827264_n.png" alt="logo" class='social-button'>
            
            </div>
            <!-- <div class='row'>
                <img src="../../assets/17639236_1785253958471956_282550797298827264_n.png" alt="logo" class='social-button'>
            </div> -->
            <div class='row'>
                <hr><p style="margin:1em">Ou</p><hr>
            </div>
            <div class='row'>
                <form class='form' >
                    <label>E-mail</label>
                    <input type="text" id="fname" name="fname">
                    <label>Senha</label>
                    <input class='input' type="text" id="lname" name="lname">
                  </form>
            </div>
        </div>
    </div>
</html>