<html>
    <div class='container'>   
        <div class='column'>
            <div class='row'>
                <img src="../../assets/logo.png" alt="logo" class='logo'>
            </div>
            <div class='row'>
                <h1>Entrar</h1>
            </div>
             <!-- <div class='row'>
                <img src="../../assets/17639236_1785253958471956_282550797298827264_n.png" alt="logo" class='social-button'>
            </div>  -->
            <div class='row'>
                <form class='form' >
                    <label>E-mail</label>
                    <input #emailbox type="text" class="form-control">
                    <div class="alert" *ngIf="(emailbox.value == '') && (submitted == true)">Este campo não pode estar vazio</div>
                    <div class="alert" *ngIf="!emailIsValid && (emailbox.value != '')">Este E-mail não é válido</div>
                    <label>Senha</label>
                    <input #passwordbox type="password" class="form-control">
                    <div class="alert" *ngIf="(passwordbox.value == '') && (submitted == true)">Este campo não pode estar vazio</div>
                    <a class="link" href="/cadastro">Esqueceu a senha?</a>
                  </form>
            </div>
            <div class="row form-group">
                <a (click)="onSubmit(emailbox.value, passwordbox.value)" class="entrar btn btn-primary">Entrar</a>
            </div>
            <div class="row">
                <a class="link" href="/cadastro" >Criar conta</a>
            </div>
        </div>
    </div> 
</html>