@import url('https://fonts.googleapis.com/css2?family=Roboto');

h1 {
    margin: 2%;
    font-size: 1.65vw;
    color: #E2725B;
    margin-left: 0;
}

p {
    text-align: center;
}

hr {
    border-style:solid;
    margin: auto;
    width: 100%;
    max-width: 50%;
    border-width:1px;
    overflow: hidden;
    border-color: #1C3144;
}

.container_results {
    margin: auto;
    width: 52vw;
    height: 85vh;
}

.result-tabs {
    height: 5%;
}

.recipe_results {
    background-color: #F0F0F0;
    height: 95%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}

.recipe_results::-webkit-scrollbar {
    width: 0.8vw;
}

.recipe_results::-webkit-scrollbar-track {
    background-color: none;
}

.recipe_results::-webkit-scrollbar-thumb {
    background-color: #E2725B;
    border-radius: 2vh;
}

.recipe_results::-webkit-scrollbar-thumb:hover {
    background-color: #DB6E58;
}

.recipe_results::-webkit-scrollbar-thumb:active {
    background-color: #D1624B;
}

.recipe_card {
    position: relative;
    background-color: #FFFFFF;
    width: 21.1vw;
    height: 8.3vw;
    overflow: hidden;
    margin: auto;
    padding-bottom: 20px;
    margin-top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.recipe_card img {
    width: 7.5vw;
    height: 7.5vw;
    float: left;
    border-radius: 2vh;
    margin-top: 1vw;
    margin-left: 1vw;
    
}

.recipe_card h2 {
    font-size: 1.2vw;
    font-family: Roboto;
    text-align: center;
    margin-top: 1vw;
}

.icons {
    display: inline-block;
    position: absolute !important;
    right: 0;
    bottom: 0;
    position: relative;
    margin: 0;
    padding: 0;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
}

.icons svg {
    width: 2vw;
    height: 2vw;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
}

.icons svg:last-child {
    margin-left: 0.8vw;
}

.icons svg:hover {
    fill: #E2725B;
}

.icons svg:active {
    fill: #1C3144;
}

.result-tabs {
    display: flex;
    flex-direction: row;
}

.result-tab {
    margin: 0;
    padding: 0;
    padding-top: 0.75vh;
    width: 11vw;
    font-size: 1.1vw;
    font-family: Roboto;
    background-color: #E2725B;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    text-align: center;
}

.result-tab:first-child {
    background-color: #F0F0F0;
}