h1 {
    margin: 2%;
    font-size:32px;
    color: #E2725B;
    margin-left: 0;
}

p {
    text-align: center;
}

hr {
    border-style:solid;
    margin: auto;
    width: 100%;
    max-width: 50%;
    border-width:1px;
    overflow: hidden;
    border-color: #1C3144;
}

.container_results {
    margin: auto;
    width: 50vw;
    height: 85vh;
}

.recipe_results {
    background-color: #F0F0F0;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}

.recipe_card {
    background-color: #FFFFFF;
    width: 40%;
    height: 20%;
    overflow: hidden;
    margin: auto;
    padding-bottom: 20px;
    margin-top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.recipe_card img {
    width: 8rem;
    height: 8rem;
    float: left;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    
}

.recipe_card h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.icons { 
    position: relative;
    left: 30%;
    top: 30%;
    
}

svg {
    width: 2rem;
    height: 2rem;
}

svg:hover {
    fill: #E2725B;
}

svg:active {
    fill: #1C3144;
}