<div class="container_results">
    <h1>Resultados para: {{searchTerm}}</h1>
    <div class="result-tabs">
        <div *ngFor="let tab of resultsArray; let i = index">
        	<ng-container *ngIf="tab.results.length">
        		<ng-container *ngIf="i == selectedTab;else unselectedTab">
		            <div class="result-tab" style="background-color: #F0F0F0;">
		                <span (click)="changeTab(i)">{{tab.name | titlecase}}</span>
		            </div>
		        </ng-container>

		        <ng-template #unselectedTab>
		        	<div class="result-tab">
		                <span (click)="changeTab(i)">{{tab.name | titlecase}}</span>
		            </div>
		        </ng-template>
	        </ng-container>
        </div> 
    </div>

    <div class="recipe_results">
        <div *ngFor="let recipe of targetTab.results">
            <div class="recipe_card">
            	<a href={{recipe.link}} target="_blank">
                    <img src={{recipe.img_url}} />
                </a>
                <a href={{recipe.link}} target="_blank"><h2>{{recipe.title}}</h2></a>
                <div class="icons">
                    <ng-container *ngIf="recipe.favorited;else nonfavorited">
                        <label (click)="favorite(recipe)"><i class="fa fa-heart favorited-heart"></i></label>
                    </ng-container>

                    <ng-template #nonfavorited>
                        <label (click)="favorite(recipe)" #nonfavorited><i class="fa fa-heart"></i></label>
                    </ng-template>

                    <label><i class="fa fa-share-alt"></i></label>
                </div>
            </div>

        </div>
    </div>
</div>
