div {
    overflow-y: auto;
    background-color: #F0F0F0;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header img{
    padding: 2rem;
    margin: auto;
    justify-content: center;
    width: 20vw;
    height: 20vh;
}
.header h1{
    margin: auto;
    justify-content: center;
    padding-top: 1rem;
    font-size: 4vw;
    font-family: Roboto;
}

.recipes{
    display: flex;
    justify-content: space-around;
    margin: 2rem 7rem;
    flex-wrap: wrap;
}

.recipes div{
    overflow: hidden;
}

.recipe-card{
    background-color: #FFFFFF;
    width: 40vw;
    height: 20vh;
    border-radius: 12px;
    margin: 17px;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
}

.recipe-card:hover {
    transform: scale(1.1, 1.1);
    transform-origin: 50% 50%;
    transition-duration: 150ms;
}

.recipe-card img {
    width: 11vw;
    height: 8vw;
    border-radius: 10px;
    margin: 20px;
}

.recipe-card-info{
    background-color: #FFFFFF;
    flex: 1;
}

.recipe-card-info h1{
    font-size: 1.2vw;
    font-family: Roboto;
    text-align: center;
    position: relative;
    top: 15px;
}

.icons {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    background-color: #FFFFFF;
}

.icons img{
    width: 3vw;
    height: 3vw;
    margin: 0;
}

.icons  div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 6rem;
    height: 6rem;
    margin: 15px;
    background-color: #FFFFFF;
    overflow: hidden;
}

.icons h1 {
    font-size: 12px;
    margin: 0;
}