<div>
    <div class="header">
        <img src="assets/book.svg"/>
        <h1>Minhas Receitas</h1>       
    </div>
    <div class="recipes">
        <div class="recipe-card" *ngFor="let recipe of recipesList">
            <img src={{recipe.img_url}} />
            <div class="recipe-card-info">
                <h1>{{recipe.title}}</h1>
                <div class="icons">
                    <div>
                        <img src="assets/clock.svg"/>
                        <h1>30 minutos</h1>
                    </div>
                    <div>
                        <img src="assets/cloche.svg"/>
                        <h1>8 porcoes</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>