<div>
    <div class="header">
        <img src="assets/book.svg" />
        <h1>Minhas Receitas</h1>
    </div>

    <div class="recipes-area">
        <div class="tabs">
            <div class="tab" (click)="changeTab('todas')" [ngStyle]="{'background-color': todasColor}">
                <p>Todas</p>
            </div>
            <div class="tab" (click)="changeTab('minhas')" [ngStyle]="{'background-color': minhasColor}">
                <p>Minhas</p>
            </div>
            <div class="tab" (click)="changeTab('favoritas')" [ngStyle]="{'background-color': favoritasColor}">
                <p>Favoritas</p>
            </div>
        </div>
        <div class="recipes">
            <div class="recipe-card" *ngFor="let recipe of recipesList">
                <div class="row">
                    <a href={{recipe.link}}>
                        <img class="recipe-avatar column" src={{recipe.img_url}} />
                    </a>
                    <div class="column recipe-card-info">
                        <div class="row">
                            <a href={{recipe.link}}><p class="recipe-title">{{recipe.title}}</p></a>
                        </div>
                        <div class="row icons">
                            <div class="icon column">
                                <img class="row" src="assets/clock.svg" />
                                <p class="icon-description row">45 minutos</p>
                            </div>
                            <div class="icon column">
                                <img class="row" src="assets/cloche.svg" />
                                <p class="icon-description row">4 porcoes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>