<div>
    <h1 class="title">Receita de Torta de chocolate</h1>
    <div class="row form-group">
        <form class="tp-container">  
            <input type="hidden"/>
            <div class="column left">   
                <p>       
                    <label><i class="fa fa-shopping-basket"></i> Ingredientes </label>
                </p>
                <p>Massa:</p>
                <p>75 gramas de farinha de trigo</p>
                <p>50 gramas de manteiga sem sal</p>
                <p>25 graamas de açúcar de confeiteiro</p>
                <p>1 unidade de gema de ovo</p>
                <p>2 gramas de essência de baunilha</p>
                <br>
                <p>Recheio:</p>
                <p>75 gramas de manteiga</p>
                <p>100 gramas de chocolate semi-amargo</p>
                <p>2 unidades de ovos</p>
                <p>15 gramas de açúcar de confeiteiro</p>
                <p>50 gramas de creme de leite</p>
                <br>
                <br>

                <p>
                    <label><i class="fa fa-utensils"></i> Modo de Preparo </label> 
                </p>
                <p>1. Prepare todos os ingredientes.</p>
                <p>2. Em uma tijela, misture com os dedos a farinha e a manteiga fria cortada em cubos. Acrescente o açúcar e envolva tudo.</p>
                <p>3. Adicione o ovo e a essência de baunilha essência. Misture até obter uma massa, embrulhe e leve à geladeira por 1 hora</p>
                <p>4. Estenda a massa com uma espessura de 3 mm. Unte uma forma de torta e coloque nela a massa, corte o excesso do rebordo e pique o fundo para evitar a formação de bolhas.</p>
                <p>5. Coloque sobre a massa papel manteiga e algum peso. Leve a assar no forno pré-aquecido a 180ºC durante 25 minutos, depois retire o peso e o papel manteiga e asse por mais 5 minutos.</p>
                <p>6. Para o recheio, derreta em banho-maria o chocolate com a manteiga, mexendo constantemente para não queimar. Desligue o fogo e deixe esfriar.</p>
                <p>7. Bata os ovos com o açúcar de confeiteiro e adicione essa mistura ao chocolate já frio. Misture bem.</p>
                <p>8. Finalmente, adicione o creme de leite e misture.</p>
                <p>9. Recheie a massa da torta com esse preparado de chocolate e leve a assar no forno pré-aquecido a 180ºC durante 10-15 minutos, ou até que esteja firme.</p>
                <p>10. Deixe esfriar para desenformar e consuma esta torta de chocolate em seguida. Bom apetite!</p>
            </div>
            <br>
            
            <div class="column right">
                <p>
                    <label class="info"><i class="fa fa-clock-o"></i> Tempo de Preparo: 45 minutos</label>
                </p>
                <br>
                
                <p>
                    <label class="info"><i class="fa fa-chart-pie"></i> Rendimento: 4 porções </label>
                </p>
                <!--<textarea></textarea>-->
                <p></p>
                <br>
                
                <p>
                    <label class="info"><i class="fa fa-flag"></i> Categoria: Sobremesa </label>
                </p>
                <!--<textarea></textarea>-->
                <p></p>
                <br>

                <img src="https://t1.rg.ltmcdn.com/pt/images/7/2/6/img_torta_de_chocolate_627_300_square.jpg"/>
                <a href="/receitas"><button class="btn" aria-label="back" type="button">
                    Voltar
                </button></a>   
            </div>
        </form>
    </div>
</div>