body{
    background-color: #F2EFE9;
}

.tp-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 70%;
}

label {
    font-size: 20px;
    line-height: 30px;
}

h1 {
    text-align: center;
    font-family: 'Roboto';
    padding-top: 50px;
    color: #E2725B;
    font-size: 30px;
}

input {
    width: flex;
}

textarea {
    font-family: 'Arial';
    color: #1C3144;
    outline: none;
    min-width: 100%;
    width: flex;
    margin: 8px 0px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #1C3144;
    border-radius: 8px;
    background-color:#F2EFE9;
    resize: vertical;
}

select {
    font-family: 'Arial';
    color: #1C3144;
    outline: none;
    min-width: 100%;
    width: flex;
    margin: 8px 0px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #1C3144;
    border-radius: 8px;
    background-color:#F2EFE9;
}

/* button configs */
.btn {
    background-color: #E2725B; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 5px;
	text-align: center;
	width: 90%;
}

.btn:last-child {
	margin-top: 0.2em;
}

.center {
    margin: auto ;
}

.save {
    padding-bottom: 50px;
    padding-right: 64%;
}


button:hover {
    transform: scale(1.05);
}

*:focus {
    outline: 0 !important;
}

/* 2 columns page */
.column {
    float: left;
    padding: 10px;
}

.left {
    width: 70%;
}

.right {
    width: 30%;
}

/* ingredients columns */
.one {
    width: 10%;
    margin-right:10px;
}

.two {
    width: 20%;
    margin-right:10px;
}

.three {
    width: 70%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.recipe-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: calc(100% - 4rem - 120px);
	word-wrap: break-word;
}

.left-info {
	display: flex;
	flex-direction: column;
	width: 25%;
	justify-content: space-around;
}

.right-info {
	width: 30%;
	background-color: white;
	height: fit-content;
	max-height: 100%;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	border-radius: 1em;
}

.right-info div {
	width: 100%;
	text-align: center;
}

.right-info p {
	font-size: 26px;
	line-height: 2em;
}

.left-info h1 {
	margin: 0;
	padding: 0;
	padding-top: 0.2em;
}

.left-info ul {
	font-family: 'Roboto';
	font-size: 16px;
}

.line {
	width: 100%;
	height: 0;
	border: none;
	border-bottom: 1px #E2725B solid;
	margin-bottom: 1em;
}

.ingredients, .steps {
	overflow-y: scroll;
	scrollbar-width: none;
    -ms-overflow-style: none;
	max-height: 49%;
	height: 49%;
	background-color: white;
	border-radius: 1em;
}

.ingredients::-webkit-scrollbar, .steps::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.steps p {
	padding-left: 1em;
	padding-right: 1em;
	white-space: pre-wrap;
}

.backdrop {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: black;
	opacity: 20%;
}

.modal {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
	width: 33vw;
	height: 80vh;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: none;
	border-radius: 0.25vw;
}

.modal-title {
	max-height: 20%;
	overflow: hidden;
}

.modal-footer {
	min-height: 8%;
	max-height: 8%;
	text-align: right;
}

.modal-title h1 {
	font-size: 3vw;
	padding: 0;
	margin: 0;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	text-height: 3vw;
}

.modal-body {
	max-height: 72%;
	overflow: scroll;
	scrollbar-width: none;
    -ms-overflow-style: none;
}

.modal-body::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.modal-footer button {
	background-color: #E2725B;
	border: none;
	color: white;
	font-size: 1vw;
	font-family: 'Roboto';
	height: 80%;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	transition: 0.25s;
	margin-right: 0.5vw;
	margin-top: 0.5vh;
}

.modal-footer .line {
	margin-bottom: 0;
	padding-bottom: 0;
}