<h1>{{recipe.name}}</h1>
<div class="recipe-container">
	<div class="left-info">
		<div class="ingredients">
			<h1><i class="fa fa-shopping-basket"></i> Ingredientes</h1>
			<div class="line"></div>
			<ul class="ingredient-lists">
				<ng-container *ngFor="let ingredient of this.ingredients">
					<li>{{ingredient.name}}</li>
				</ng-container>
			</ul>
		</div>
		
		<div class="steps">
			<h1><i class="fa fa-utensils"></i> Modo de preparo</h1>
			<div class="line"></div>
			<p text-justify="inter-word">{{this.recipe.steps}}</p>
		</div>
	</div>
	
	<div class="right-info">
		<p><i class="fa fa-clock-o"></i> {{this.recipe.time}} minutos</p>
		<p><i class="fa fa-chart-pie"></i> {{this.recipe.portions}} porções</p>
		<p><i class="fa fa-flag"></i> Categorias</p>
		<div>
			<button class="btn" aria-label="back" type="button" onclick="window.history.back()"><i class="fa fa-image"></i> Voltar</button>
			<button class="btn" aria-label="add" type="button" (click)="toggleAddRecipeDialog()"><i class="fa fa-book"></i> Adicionar ao livro</button>
		</div>
	</div>
</div>

<ng-container *ngIf="this.isOpen">
	<div class="backdrop" (click)="toggleAddRecipeDialog()"></div>
	<div class="modal">
		<div class="modal-title">
			<h1>Adicionar receita a livro</h1>
			<div class="line"></div>
		</div>
		<div class="modal-body">
			<ng-container *ngFor="let book of this.books">
				<book-card (click)="addRecipe(book.bookid)" [book] = "book" [useHref] = "false"></book-card>
			</ng-container>
		</div>
		<div class="modal-footer">
			<div class="line"></div>
			<button (click)="toggleAddRecipeDialog()">Cancelar</button>
		</div>
	</div>
</ng-container>