<body>
    <h1>Receita X</h1>
    <div class="row form-group">
        <!-- [formGroup]="form"-->
        <form class="tp-container">  
            <input type="hidden"/>
            <div class="column left">   
                <p> <mat-icon> shopping_cart </mat-icon>         
                <label><i class="fa fa-shopping-basket"></i> Ingredientes </label></p>
                <!--<textarea></textarea>-->
                <p></p>
                <br>

                <p> <mat-icon>restaurant_menu</mat-icon>
                <label><i class="fa fa-utensils"></i> Modo de Preparo </label> </p>
                <!--<textarea></textarea>-->
                <p></p>
            </div>
            <br>
            
            <div class="column right">
                <p><mat-icon> timer </mat-icon>  
                <label><i class="fa fa-clock-o"></i> Tempo de Preparo </label></p>
                <!--<textarea></textarea>-->
                <br>
                
                <p><mat-icon>filter_9_plus</mat-icon>
                <label><i class="fa fa-chart-pie"></i> Rendimento </label></p>
                <!--<textarea></textarea>-->
                <p></p>
                <br>
                
                <p><mat-icon>folder_special</mat-icon>
                <label><i class="fa fa-flag"></i> Categoria </label></p>
                <!--<textarea></textarea>-->
                <p></p>
                <br>

                <button class="btn" aria-label="back" type="button">
                    <i class="fa fa-image"></i>
                    Voltar
                </button>
            </div>
        </form>
    </div>
    
</body>