<div>
    <h1 class="title">Receita de Torta Holandesa</h1>
    <div class="row form-group">
        <form class="tp-container">  
            <input type="hidden"/>
            <div class="column left">   
                <p>       
                    <label><i class="fa fa-shopping-basket"></i> Ingredientes </label>
                </p>
                <p>1 colher de farinha</p>
                <p>2 xicaras de leite</p>
                <p>3 unidades de ovos</p>
                <br>

                <p>
                    <label><i class="fa fa-utensils"></i> Modo de Preparo </label> 
                </p>
                <p>1. Testando a criação de uma nova receita no vídeo =)</p>
                <p>2. Passo 2, testando ele também.</p>
            </div>
            <br>
            
            <div class="column right">
                <p>
                    <label class="info"><i class="fa fa-clock-o"></i> Tempo de Preparo: 24 horas</label>
                </p>
                <br>
                
                <p>
                    <label class="info"><i class="fa fa-chart-pie"></i> Rendimento: 10 porções </label>
                </p>
                <!--<textarea></textarea>-->
                <p></p>
                <br>
                
                <p>
                    <label class="info"><i class="fa fa-flag"></i> Categoria: Sobremesa </label>
                </p>
                <!--<textarea></textarea>-->
                <p></p>
                <br>

                <img src="https://t2.rg.ltmcdn.com/pt/images/2/5/6/torta_de_morango_com_chantilly_9652_300_square.jpg"/>
                <a href="/receitass"><button class="btn" aria-label="back" type="button">
                    Voltar
                </button></a> 
            </div>
        </form>
    </div>
</div>